<div class="container">
  <h2>Material</h2>
  <div class="materiais">
    <div class="material">
      <p>papel</p>
      <img src="../../assets/img/papel.png" alt="imagem papel">
    </div>
    <div class="material">
      <p>plástico</p>
      <img src="../../assets/img/plástico.png" alt="imagem papel">
    </div>
    <div class="material">
      <p>metal</p>
      <img src="../../assets/img/metal.png" alt="imagem papel">
    </div>
    <div class="material">
      <p>tetra pak</p>
      <img src="../../assets/img/tetra pak.png" alt="imagem papel">
    </div>
    <div class="material">
      <p>vidro</p>
      <img src="../../assets/img/vidro.png" alt="imagem papel">
    </div>
    <div class="material">
      <p>móvel</p>
      <img src="../../assets/img/móveis.png" alt="imagem papel">
    </div>
    <div class="material">
      <p>pilha</p>
      <img src="../../assets/img/pilha.png" alt="imagem papel">
    </div>
    <div class="material">
      <p>eletrônico</p>
      <img src="../../assets/img/eletrônico.png" alt="imagem papel">
    </div>
    <div class="material">
      <p>outro</p>
      <img src="../../assets/img/outro.png" alt="imagem papel">
    </div>
  </div>
</div>
