<h2>Coleta</h2>
<div class="container">
  <div class="localizacao">
    <h3>Localização</h3>
    <div class="endereco">
      <p>Endereço</p>
      <i class="pi pi-plus" style="font-size: 0.7rem"></i>
    </div>
    <input type="text" pInputText formControlName="text"/>
  </div>
  <div class="diaDisponivel">
    <h3>Dia disponível para coleta</h3>
    <div class="dias">
      <img src="../../assets/img/seg.png" alt="botão segunda">
      <img src="../../assets/img/ter.png" alt="botão terça">
      <img src="../../assets/img/qua.png" alt="botão quarta">
      <img src="../../assets/img/qui.png" alt="botão quinta">
      <img src="../../assets/img/sex.png" alt="botão sexta">
      <img src="../../assets/img/sab.png" alt="botão sábado">
    </div>
  </div>
  <div class="horarioDisponivel">
    <h3>Horário disponível para coleta</h3>
    <!-- <div>
      <input type="text" pInputText [(ngModel)]="rangeValues" class="w-full"/>
      <p-slider [(ngModel)]="rangeValues" [range]="true"></p-slider>
    </div> -->
  </div>
</div>
