@import "primeicons/primeicons.css";

h2{
  text-align: center;
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.endereco {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dias img {
  padding: 5%;
}


